<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>hello this is ejs</h1>
    <!-- to perform any dynamic calculation in ejs as this is same as html  but  dynamic in nature -->
    <!-- <%= 2+2%>   this will print 2+2 in result  -->

    <script src="/javascripts/script.js" ></script>
</body>
</html>