*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;
    background-color:lightseagreen;
   
   display: flex;
   justify-content: center;
   align-items: center;
}

.image {
    height: 400px;
    width: 300px;
   position: relative;
   border-radius: 10px;
   overflow: hidden;


   
   
}

.image img{
    height: 100%;
    width : 100%;
    object-fit: cover;

}

.image i{
    color: white;
    font-size: 44px;
    position: absolute;   
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%) scale(0); 
    opacity: 0.8;
    transition: all ease 0.5s;
}